<label for="lic">Licenciatura: </label>
<input type="text" id="lic" name="lic">
<br>
<label for="prom">Promedio: </label>
<input type="text" id="prom" name="prom">
<br>
<label for="tes">Tesis </label>
<input type="checkbox" id="tes" name="tes">
<input type="text" id="tes2" name="tes2">
<br>

