


/*Para la clase menu
.menu{
    background-color:red;
    width:770px;
    height:70px;
    border:1px #000 solid;
    margin:20px auto;
    padding:15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}*/
body{
    background: url(../img/wallpaper.jpg) no-repeat;
    
}

/*popup*/
.box{
    width:40%;
    margin:0 auto;
    background: rgba(255,255,255,0.2);
    padding:20px;
    border:2px solid #fff;
    border-radius:20px/50px;
    background-clip:padding-box;
    text-align:center;
    
}
.button{
    font-size:1em;
    padding:10px;
    color:#fff;
    border:2px solid #06d85f;
    border-radius:20px/50px;
    text-decoration:none;
    cursor:pointer;
    transition:all 0.3s ease-out;
    
}
.button:hover{
    background: #06d95f;
    
}

/*Para el menu*/
#nav,#nav ul {
    background-image:url(../img/menu/tr75.png);
    list-style:none;
    margin:0;
    padding:0;
    
}


#nav {
    height:41px;
    padding-left:5px;
    padding-top:5px;
    position:relative;
    z-index:2;
}
#nav:hover{
  /*  position:absolute;*/
    
}

#nav ul {
    left:-9999px;
    position:absolute;
    top:37px;
    width:auto;
}
#nav ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
}

#nav li {
    float:left;/*Pone el menu horizontalmente*/
    margin-right:5px;/*Hace la separación entre pestañas*/
    position:relative;
}

#nav li a ,#nav li form fieldset{
    background:#99e15f;
    color:#000;/*Pone las pestañas en color negro*/
    display:block;
    float:left;
    font-size:16px;/*Tamaño de letra de las pestañas*/
    padding:8px 10px;/*Centra en la caja del menu*/
    text-decoration:none;
}
#nav li form fieldset{
    padding:2px 9px;/*Centra en la caja del menu*/
    border-radius:6px;
}


#nav > li > a {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;/*Le da borde biseleado a las pestañas*/
    -o-border-radius:6px;
    border-radius:6px;

    overflow:hidden;
}

#nav li a.fly {
    /*Coloca la flecha a la derecha en los menues desplegables*/
    background:#c1c1bf url(../img/menu/arrow.gif) no-repeat right center;
    padding-right:15px;/*Separación entre letra y flecha*/
}
#nav ul li {
    margin:0;
}
#nav ul li a {
    width:120px;
}
#nav ul li a.fly {
    padding-right:10px;
}

/*estilo hover(cuando se posiciona el mouse se activa)*/
#nav li:hover > a {
    /*cambia de color la caja de la pestaña*/
    background-color:#06d95f;
    /*Cambia de color la letra de la pestaña*/
    color:#fff;
}

/*estilo focus*/
    #nav li a:focus {
    outline-width:0;
}

/*popups(Desplegabilidad en los menues)*/
/*Al activarse, despliega los submenues*/
#nav li a:active + ul.dd,#nav li a:focus + ul.dd,#nav li ul.dd:hover {
    left:0;
}
#nav ul.dd li a:active + ul,#nav ul.dd li a:focus + ul,#nav ul.dd li ul:hover {
    left:140px;
}


/*Extras de posicionamiento*/

