*{
    background: crimson;
}


h1{
    text-align: center;
    background: yellow;
}

#foto{   
    border: 2px;
    border-color: #1a1551;
    padding-left: 40%;
}

#more{   
    border: 2px;
    border-color: #1a1551;
    padding-left: 25%;
}


#lista{
    font-size: 1.5em;
    color:black;    
}

#pie{
    text-align: center;
    color: darkblue;
    font-size: 1em;
}

@media screen and (min-width: 800px){
    #contenido{
    font-size: 3.5em;
    text-decoration: overline;
    text-decoration-color: red;    
    }
}

@media screen and (min-width: 500px) and (max-width: 799px), print{
    #contenido{
        font-size: 1.5em;
        color: beige;
        font-family: "Courier";
        background-color: blue;
    }
}

@media screen {
#contenido {
    border: 5px dotted black;
    border: 5px dotted black;
    background-color: paleturquoise;
    font-size: 2em;
    text-align: justify;
    color: white;
}
    
@media print {
    #contenido {        
    font-size: 6em;
    color: red;
    text-align: right;
    text-decoration: underline;
    }
    
    #pie{
        font-size: 8em;
        text-align: left;
        text-decoration: underline;
    }
}    