*{
    background: #83f9cc;
}


h1{
    text-align: center;
    background: #60c7b0;
}

#foto{   
    border: 2px;
    border-color: #1a1551;
    padding-left: 35%;
}

#more{   
    border: 2px;
    border-color: #1a1551;
    padding-left: 25%;
}

p{
    font-size: 2em;
    text-align: justify;
    color:cornflowerblue;
}

#lista{
    font-size: 1.5em;
    color:black;    
}

#pie{
    text-align: center;
    color: darkblue;
    font-size: 1em;
}