*{
    margin: 0%;
    padding: 0%;
}



#encabezado{
    text-align: center;    
    background: gray;
    font-size: 24px;
    color: chartreuse; 
    height: 100px;
}

#menu{        
    background: yellow;
    width: 24%;            
    height: 450px;
    float: left;
    position: relative;  
    text-align: center;    
}

#local{        
    background: red;
    width: 30%;  
    height: 450px;
    float: left;
    text-align: center; 
    margin-left: 3%;
    padding-left: 4%
}

#visitante{        
    background: blue;
    width: 30%;   
    height: 450px;
    float: left;
    position: relative;   
    text-align: center;  
     margin-left: 5%;
    padding-left: 4%
}

#pie{
    clear: both;
    position: absolute;
    top: 90%;
    text-align: center;    
    background: pink;
    font-size: 24px;
    color:blueviolet; 
    height: 100px;
    width: 100%;
}


