<label for="maes">Mestria: </label>
<input type="text" id="maes" name="maes">
<br>
<label for="prom">Promedio: </label>
<input type="number" name="prom" min="0" max="100">
<br>
<label for="tes">Tesis </label>
<input type="text" id="tes2" name="tes2">
<br>
<input type="button" onclick="alert('Hello World!')" value="Validar">
<input type="button" onclick="" value="Limpiar">








//$("valgo").attr("cheked");