<label for="prep">Preparatoria: </label>
<input type="text" id="prep" name="prep">
<br>
<label for="prom">Promedio: </label>
<input type="number" name="prom" min="0" max="100">
<br>
<input type="button" onclick="alert('Hello World!')" value="Validar">
<input type="button" onclick="" value="Limpiar">