/*Ejemplo de flotació n*/


#encabezado,#pie,#local,#menu,#visitante{
    
    border: 2px solid black;
    
}

#encabezado{
    background-color: royalblue;
    color:white;
    width: 980px;
    height: 100px;
    
    /*float:left; Las cajas solo flotan a la izquierda o derecha, o no flotan*/
    top:3%;
    left:2%;
    position:absolute;
    text-align: center;
    
}

#menu{
    background-color: royalblue;
    color:white;
    width: 10%;
    height: 480px;
    
    /*float:left; Las cajas solo flotan a la izquierda o derecha, o no flotan*/
    top:22%;
    left:2%;
    position:absolute;
    
}

#local{
    background-color:darkblue;
    color:white;
    width:40%;
    height:480px;
    
    top: 22%;
    left: 17%;
    position:absolute;
    
    
}

#visitante{
    background-color:blueviolet;
    color:white;
    width:36%;
    height:480px;
    
    top: 22%;
    left: 62%;
    position:absolute;
}



#pie{
    clear: both;
    position:absolute;
    width: 95%;
    
    top:96%;
    left:3%;
    
    
}

h1{

    
}