.titulo{
    text-align: center;
}
.rangos{
    position: absolute;
    top: 20%;
    right: 60%;
    left: 4%;
    height: 50%;
}
#rango1, #rango2, #rango3{
    width: 90%;
    margin-top: 48px;
    margin-bottom: 23px;
}
.panel{
    position: absolute;
    top: 20%;
    right: 4%;
    left: 50%;
    height: 50%;
    background-color: darkred;
}
.pie{
    position: absolute;
    top:80%;
}