/*
Ejemplo del modelo de caja
*/

* {
   padding: 0;
    margin: 0;
    font-size: 8pt;
}

#encabezado, #pie, #contenido, #menu {
    border: 1px solid red;
}

body {
    background-color: aquamarine;
}

#encabezado {
    background-color: skyblue;
    width: 80%;
}

#menu {
    margin-top: 10%;
}

h1 {
    font-size: 4em;
    padding-left: 10%;
}