#uno{
    margin-top: 0%;
    width: 15%;
    height: 90px;
    background-color: red;
    color: white;
    font-size: 3em;
    text-align: center;
}

#dos{
    margin-top: 5%;
    width: 15%;
    height: 90px;
    background-color: yellow;
    font-size: 3em;
    text-align: center;
}

#tres{
    margin-top: 5%;
    width: 15%;
    height: 90px;
    background-color: darkblue;
    color: white;
    font-size: 3em;
    text-align: center;
}


#area{
    float: right;
    margin-top: -30%;
    margin-right: 20%;
    width: 30%;
    height: 400px;
    background-color: greenyellow;    
}


#tengo{
    float: right;
    margin-top: -30%;
    width: 20%;
    height: 400px;
    background-color: brown;
    color: white;
    font-size: 1.5em;
}