/*Ejemplo de flotació n*/




#logo1{
    width:18%;
    border: 5px solid black;
    
    top:5%;
    left:0%;
    position:absolute;
}

#logo2{
    width:18%;
    border: 6px solid green;
    
    top:5%;
    right:0%;
    position:absolute;
    
}

#encabezado{
    background-color: royalblue;
    color:white;
    width: 59%;
    border: 7px solid blue;
    
    /*float:left; Las cajas solo flotan a la izquierda o derecha, o no flotan*/
    top:5%;
    left:20.5%;
    position:absolute;
    text-align: center;
    
}


#menu{
    background-color: royalblue;
    color:white;
    
    
    border: 3px solid yellow;
    /*float:left; Las cajas solo flotan a la izquierda o derecha, o no flotan*/
    top:155px;
    
    position:relative;
    
}

#formulario1{
    background-color:darkblue;
    border: 10px solid orange;
    color:white;
    width:45%;
    height:48%;
    
    top: 35%;
    right: 0%;
    position:absolute;
    
    
}

#formulario2{
    background-color:blueviolet;
    border: 20px solid red;
    color:white;
    width:45%;
    height:48%;
    
    top: 35%;
    left:0%;
    position:absolute;
}



#pie{
    background-color:red;
    border: 4px solid pink;
    width: 70%;
    
    top:96%;
    left:15%;
    
    position:absolute;
    
    
    
}

