/*Ejemplo de fondos.*/

*{
    color:white;
    
}

body{
    background-image:
        url(../img/fondos.jpg);
    /*background-repeat: no-repeat; solo coloca la imagen una ves.*/
    background-repeat: repeat-x; /*repite una ves horizontalmente*/
    background-color:aquamarine;
}

#contenido{
    background-image: url(../img/favicon.ico);
    
}