
#encabezado{
    background-color: blueviolet;
    color: rgb(11, 918, 176);
    border: solid #398;
    border-top-width: 60px;
    position: relative;
    width: 100%;
    text-align: center;
}

#contenido{
    background-color: aqua;
    color: rgb(751, 90, 17);
    border: solid #093;
    width: 80%;
    
    margin-left: 10%;
    margin-right: 10%;
    
}



#resultado{
    background-color: black;
    /*color: #999; */   
    border: solid #298;
}

h1{
    color:blue;
    text-align: right;
    
}

#pie{
    background-color:chartreuse;
    color: rgb(1, 8, 17);
    border: solid #249;
    position: relative;
    width: 100%;
    text-align: center;
}