/*Ejemplo del modelo de caja*/

*{
   /* border: 1px solid red;*//*Se recomienda para inicializar estilos*/
    padding: 2;
    margin: 2;/*Que todas las cajas eliminen su espaciamiento interno y externo(padding y margin)*/
    font-size: 10pt;
    
}/*Se le aplica a todas las etiquetas, es un selector universal*/

#encabezado, #pie,#contenido, #menu{
    
    border: 3px solid black;
}

body{
    background-color:blueviolet;
    
}

#encabezado{
    background-color:skyblue;
    width: 10%;
    
    
    
}
#menu{
    margin-top: 10%;
    
    
}
h1{
    font-size: 2em;
    padding-left: 10%;
    
    
}