/*Ejemplo del modelo de caja*/

*{
   /* border: 1px solid red;*//*Se recomienda para inicializar estilos*/
    padding: 0;
    margin: 0;/*Que todas las cajas eliminen su espaciamiento interno y externo(padding y margin)*/
    font-size: 8pt;
    
}/*Se le aplica a todas las etiquetas, es un selector universal*/

#encabezado, #pie,#contenido, #menu{
    
    border: 1px solid red;
}

body{
    background-color:aquamarine;
    
}

#encabezado{
    background-color:skyblue;
    width: 80%;
    
}
#menu{
    margin-top: 10%;
    
}
h1{
    font-size: 4em;
    padding-left: 10%;
    
}