/*Ejemplo de media queries*/

h1{
    font-size:4em;
    color:white;
    background-color:black;
    text-align:center;

}



@media screen and (min-width:200px) and (max-width: 499px){
  
    h1{
        font-size:3em;
        color:chartreuse;
        background-color:black;
        text-align:left;
        
    }
    #contenido{
        font-size:3em;
        color:aliceblue;
        font:family:"Courier";
        background-color:red;
        
        
    }/*and(y)   "," (OR)*/
    
    #pie{
        background-color:crimson;
        
    }
    
    p{
        font-size:2em;
        
    }
    
    img{
        
        width=100;
        height=200;
        
    }
    
}

@media screen and (min-width: 500px),print /*mientras el ancho sea más pequeño*/{
    #pie{
        font-size:2em;
        text-decoration:underline;
        text-decoration-color:blueviolet;
        
        
    }
    
}



@media screen{

#contenido{
    border-top: 1px dotted green;
    background-color:lawngreen;
    
    
}

}

/*Cuando sea el medio impresión, aplica estos valores*/
@media print{
    h1{
        font-size:2am:
            color:red;
        text-align:justify;
        
    }
    
}