/*Ejemplo de estilos*/

#color {
    background-color: rgba(255, 0, 0, 0.1);
    
    
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid 3px;
}

#cuerpo{
    background-color:blueviolet;
    
    
}