/*Ejemplo de flotació n*/


#encabezado,#pie,#contenido,#menu{
    
    border: 1px solid black;
    
}

#menu{
    background-color: royalblue;
    color:white;
    width:10%;
    display:inline-block;
    float:left; /*Las cajas solo flotan a la izquierda o derecha, o no flotan*/
    
}

#contenido{
    background-color: black;
    color:white;
    width:80%;
    display:inline-block;
    float:right;
    
}

#pie{
    clear: both;
    
    
}