/*estilos.css
Hoja de estilo para la práctica de Programación Web
*/

* {
   background-color: #FAFAFA;
   direction: rtl;
   font-size: 12pt;
}

.titulo {
    
    font-size: 4em;
    font-weight: 100pt;
    text-indent: 10pt; 
}

.remarcar {
    background-color: yellow;
    color: red;
} 

.error {
    color: white;
    background-color: red;
    border-color: yellow;
    border-style: double;    
}

.ayuda {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border-style: solid;
}

p {
    text-align: justify;
}

img{
    border: 5px solid;
    border-color: yellow;    
}

#encabezado{
    text-decoration-color: rgb(0,200, 0);
    text-decoration-style: dashed;
} 

#pie {
    font-style: italic;
} 

#contenido {
    font-family: monospace;
}