/*Ejemplo de flotacion*/

#encabezado, #pie, #contenido, #menu {
    border: 1px solid black;
}

#menu {
    background-color: royalblue;
    color: white;
    width: 10%;
    display: inline-block;
    float: left;
}

#contenido {
    background-color: black;
    color: white;
    width: 80%;
    display: inline-block;
    float: right;
}

#pie{
    clear: both;
}