/*Ejemplo de posicionamiento*/

div {
    border: 1px solid black;
}

#s1 {
    background-color: aqua;
    color: white;
    width: 80%;
    display: inline-block;
    position: relative;
}

#s2 {
    background-color: bisque;
    width: 100%;
    /*display: inline-block;
    display: none;
    overflow: scroll;*/
    position: relative;
    top: 50%;
    left: 30%;    
}

#s3 {
    background-color: crimson;
    color: white;
    position: absolute;
    /*z-index: -1;*/
    top: 10%;
    left: 50%;
}

#s4 {
    background-color: darkorchid;
    color: white;
    /*z-index: 4;*/
    position: fixed;
    top: 70%;
    left: 25%;
}

h1, h2, h3 {
    position: relative;
    bottom: 40%;
    right: -30%;
}