/*
Ejemplo del modelo de caja
*/

* {
   padding: 0;
    margin: 0;
    font-size: 8pt;
}

#contenido{
    border: 2px solid gray;
    text-align: center;
    font-size: 12pt;
    margin-top: 5px;
}

#pie {
    border:3px solid green;;
    text-align: center;
    font-size: 12px;
}

p {
    font-size: 20pt;
    top: 10px;
}

body {
    background-color: crimson;
}

#encabezado {
    background-color: yellow;    
    text-align: center;   
    border: black;
    margin-bottom: 10px;
}

#menu {
    margin-top: 10%;
}

h1 {
    font-size: 4em;
}

label {
    color:cornsilk;
    font-size: 18pt;    
}