*{
    margin: 0%;
    padding: 0%;
}

#encabezado{
    text-align: center;    
    background: gray;
    font-size: 24px;
    color: chartreuse; 
    height: 100px;
}

#menu{        
    background: yellow;
    width: 20%;            
    height: 450px;
    float: left;
    position: relative;  
    text-align: center;  
    margin-right: 3%;
}

#local{        
    background: red;
    width: 35%;  
    height: 450px;
    float: left;
    position: relative;    
    text-align: center; 
    margin-right: 5%;
}

#visitante{        
    background: blue;
    width: 35%;   
    height: 450px;
    float: left;
    position: relative;   
    text-align: center;    
}

#pie{
    text-align: center;    
    background: pink;
    font-size: 24px;
    color:blueviolet;     
}


